<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="style.css" />
        <title>Amazona</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Amazona</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Signin</a>
            </div>
        </header>

        <aside>Shoping Categories</aside>
        <main class="main">
            <div class="content">
                <ul>
                    <li>Product 1</li>
                </ul>
            </div>
        </main>
        <footer>
            All right reserved
        </footer>
    </div>
</body>

</html>